@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fuzzy+Bubbles&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e2d9;
}
.burgerMenu_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  gap: 40px;
  margin-left: 60px;
  margin-right: 20px;
  padding-top: 10px;
}

.burgerMenu_links a {
  color: #252832;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: 50%;
  padding: 5px 10px;
}
.burgerMenu_links a:hover {
  color: #54596b;
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.navbar_icons {
  padding-top: 5px;
  padding-left: 5px;
  size: 1.5rem;
  color: #252832;
  padding-left: 1rem;
}
.toggle-button {
  cursor: pointer;
  width: fit-content;
  background-color: transparent;
  color: #252832;
  border-color: transparent;
}
.toggle-button:hover {
  color: #54596b;
  transition: all 0.3s ease;
  transform: scale(1.2);
}

.dark-theme {
  --color: #fbfbfd;
  --background-color: #333;
}

.light-theme {
  --color: #252832;
  --background-color: #fff;
}

.mainContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  flex-direction: row;
  background-color: var(--background-color);
  margin: 20px auto 0;
  padding: 1rem;
  border-radius: 18px;
  width: min(90%, 50rem);
  min-height: 30rem;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

.todoInput {
  text-align: center;
  padding: 1rem 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: transparent;
  width: min(90%, 40rem);
}
.greeting {
  margin-inline: auto;
  margin-top: 1rem;
  margin-bottom: 1 rem;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--color);
}

h3 {
  color: var(--color);
}

.addTodoForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1 rem;
  margin-top: 1rem;
  padding-inline: auto;
}

.addTodoForm .label {
  color: var(--color);
  font-size: 1rem;
  margin-right: 1rem;
}
.inputGroupe {
  display: flex;
  border: 1 solid rgba(133, 133, 133);
}
.inputGroupe input {
  min-height: 30px;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  width: 100%;
  color: #262626;
  display: block;
  padding-inline: 0.5rem;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
}

.inputGroupe .addButton {
  position: relative;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid #bdbdbd;
  padding: 0.38rem 0.8rem;
  font-size: 1rem;
  transition: background-color 0.15s ease-in-out;
  background-color: #e8e8ed;
}
.addButton:hover {
  background-color: #e0dddd;
  transition: all 0.3s ease;
}
.addButton:active {
  background-color: #cecbcb;
}
.addButtonIcon {
  size: 1rem;
  color: #262626;
}
.todoListWithBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todoListItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  outline: none;
}

.todoListWithBtn p {
  height: auto;
  color: var(--color);
  padding-bottom: 10rem;
}

.todoListWithBtn ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: min(90%, 30rem);
  margin-bottom: 1rem;
}

.selectGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  gap: 10px;
  padding: 0.5rem 1rem;
  width: min(70%, 25rem);
}
.selectGroup label {
  margin-right: 0;
  color: var(--color);
}
.sortGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
select {
  border-radius: 15px;
  border: 1px solid #bdbdbd;
  background-color: #e8e8ed;
  min-height: 30px;
  font-size: 1rem;
}
.listItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #252832;
  font-size: 1rem;
  justify-content: space-between;
  width: 100%;
  line-height: 1;
  padding: 0.5rem 1rem;
  background-color: #e8e8ed;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 25px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.checkbox_wrapper {
  padding-inline: 5px;
}
.checkbox_wrapper:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.checkbox_wrapper input {
  height: 20px;
}

.checkbox_wrapper input:checked {
  accent-color: white;
  border: 1px solid #636161;
}

.todoTitleCreatedTime {
  min-width: 75%;
  text-align: left;
  padding-inline: 10px;
}

.todoTitleCreatedTimeDone {
  min-width: 75%;
  padding-inline: 10px;
  text-align: left;
  font-weight: 100;
  color: #908f8f;
}

.createdTime {
  float: right;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 4px;
}
.removeButton {
  line-height: 1.5;
  color: #252832;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding-top: 5px;
  padding-left: 10px;
}

.removeButton:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

/* Responsive Design Mobile */
@media screen and (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0;
  }
  .navbar {
    display: none;
  }
  .navbar_links {
    display: none;
  }
  .burgerMenu.active {
    transform: translateX(0);
  }
  .burgerMenu {
    transform: translateX(-100%);
    transition: all 1s;
  }

  .burgerMenu_links {
    display: flex;
    color: #f5f5f5;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    background: hsla(0, 3%, 23%, 0.6);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    gap: 0;
    height: 100%;
    z-index: 1000;
    transition: all 1s;
    transform: translateX(width);
    padding-top: 60px;
    align-items: center;
    margin: 0;
  }

  .burgerMenu_links a {
    color: #f5f5f5;
    font-size: 1rem;
    height: fit-content;
    margin: 10px;
  }
  .burgerMenu_links a:hover {
    color: #f97316;
    transition: all 0.3s ease;
  }
  .toggle-button {
    color: #f5f5f5;
  }

  .navbar_icons {
    display: none;
  }
  .burgerBtn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    z-index: 999999;
    top: 10px;
    left: 20px;
  }
  .burgerBtn:before {
    content: "";
    position: absolute;
    top: 0;
    background-color: black;
    height: 2px;
    width: 30px;
    color: black;
  }
  .burgerBtn span {
    content: "";
    position: absolute;
    top: 9px;
    background-color: black;
    height: 2px;
    width: 30px;
    color: black;
  }

  .burgerBtn:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: black;
    height: 2px;
    width: 30px;
    color: black;
  }
  .toggle-button {
    display: flex;
    color: #f5f5f5;
  }
  .sunColor {
    color: #f5f5f5;
  }
  .selectGroup {
    padding-inline: 15px;
    min-width: 90%;
  }
  select {
    font-size: 15px;
  }
}

/* Responsive Design Mobile */
@media screen and (max-width: 330px) {
  .mainContainer {
    max-width: 90%;
    gap: 20px;
  }

  .inputGroupe input {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  .addTodoForm .label {
    font-size: 0.8rem;
  }

  .selectGroup {
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 15px;
    min-width: 90%;
  }

  select {
    font-size: 12px;
  }

  .todoListWithBtn {
    padding-bottom: 1rem;
  }
  .todoTitleCreatedTime {
    min-width: 60%;
  }

  .listItem {
    font-size: 15px;
    padding-inline: 10px;
  }
  .removeButton {
    width: auto;
  }
}
